header h1{
    background-color: black;
    color: blue;
    margin-left: 20px;
}

nav li{
    display: inline;
    padding-left: 35px;
    background-color: antiquewhite;
}

nav a {
    font-size:25px;
    text-decoration: none;
}

img{
    margin-left: 100px;
    text-decoration: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 25284f499d4b11036281992b7685bc9bc529b96c
