html{
    background-color:lightblue;
}
header h1{
    background-color:black;
    color: blue;
    margin-left: 20px;
    padding-left:70px;
}

nav li{
    display: inline;
    padding-left: 35px;
    background-color: antiquewhite;
}

nav li a {
    font-size:25px;
    text-decoration: none;
    padding-left:20px;
}

nav li p{
    font-size: 25px;
    text-decoration: none;
}

section a{
    margin-bottom: 50px;
}

img{
    margin-left: 100px;
    padding-left: 20px;
    text-decoration: none;
    display: inline;
}

footer{
    font-size: 20px;
}
